.random-quote {
	position: absolute;
	top: 40px;
	left: 40px;
	max-width: 50%;
}

@media (max-width: 767px) {
	.random-quote {
		max-width: 70%;
	}
}

.quote,
.quoting {
	margin-bottom: 0;
	padding-left: 15px;
	border-left: 2px solid var(--primary-yellow);
	text-wrap: balance;
}

.quote {
	font-style: italic;
}