.flashword-icon {
    margin-top: 30px;
    margin-bottom: 20px;
    max-width: 200px;
}

.blue-link {
    color: #00c7be;
}

.blue-link:hover {
    color: #007aff;
}

.app-store-link {
    display: inline-block;
    overflow: hidden;
    border-radius: 13px;
    width: 150px;
    height: 83px;
}

.app-store-link-image {
    border-radius: 13px;
    width: 150px;
    height: 83px;
}