/* Flicker animation */

@keyframes flicker {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.across-the-web {
    margin-bottom: 10px;
    opacity: 0;
    animation: flicker 0.05s linear 2s 7 alternate forwards;
}

.github-stats {
    opacity: 0;
    animation: flicker 0.05s linear 2.25s 7 alternate forwards;
}