.fantanenbun-project-teams-image {
    z-index: 1;
    width: 20vw;
    transform: translate3d(4.5vw, -4vh, 0) rotate(-3deg) scale(1.1);
}

.fantanenbun-project-ranking-image {
    z-index: 0;
    width: 20vw;
    transform: translate3d(0vw, -4vh, 0) scale(1.1);
}

/* Desktop */
@media (min-width: 767px) {
    .fantanenbun-project-teams-image {
        margin-left: 8vw;
    }

    .fantanenbun-text-box {
        margin-left: 3rem;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .fantanenbun-project-teams-image {
        width: 48vw;
        margin-top: 0;
        transform: translate3d(6vw, -2vh, 0) rotate(-3deg) scale(1.15);
    }

    .fantanenbun-project-ranking-image {
        width: 48vw;
        transform: translate3d(-6vw, -2vh, 0) scale(1.15);
    }

    .fantanenbun-text-box {
        margin-top: 2rem;
    }
}