.flashword-project-image {
    width: 20vw;
    transform: translate3d(1vw, -5vh, 0) rotate(-6deg) scale(1.1);
}

.flashword-project-icon {
    width: 15vw;
    height: 15vw;
    max-width: 200px;
    max-height: 200px;
    border-radius: 25px;    /* da togliere con icona iOS 26, già arrotondata */
}

/* Desktop */
@media (min-width: 767px) {
    .flashword-project-image {
        margin-left: 8vw;
    }

    .flashword-text-box {
        margin-left: 3rem;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .flashword-project-image {
        width: 40vw;
        margin-top: 0;
        transform: translate3d(2vw, 0, 0) rotate(-7deg) scale(1.15);
    }

    .flashword-project-icon {
        width: 30vw;
        height: 30vw;
        transform: translate3d(-2vw, 0vh, 0);
    }

    .flashword-text-box {
        margin-top: 2rem;
    }
}