.gestionale-project-image {
    width: 40vw;
    transform: translate3d(-4vw, -5vh, 0) rotate(4deg) scale(1.1);
    margin-left: 8vw;
    margin-top: 3rem;
}

/* Mobile */
@media (max-width: 767px) {
    .gestionale-project-image {
        width: 75vw;
        transform: translate3d(-4vw, -5vh, 0) rotate(2deg) scale(1.1);
    }
}